<h5>Trading board</h5>



<div class=row>
  <div class="col-3">

    <img *ngIf="coinData.s" src='{{ "assets/images/CoinIcon/" + coinData.s.substring(0,coinData.s.length-4) + ".png" }}'
  width="40px" height="40px" />

    <div class="row">
      <span class="col">Symbol :</span>
      <span class="col">{{this.coinData.s}}</span>
    </div>

    <div class="row">
      <span class="col">Price</span>
      <span class="col">{{this.coinData.c}}</span>
    </div>

    <div class="row">
      <span class="col">24hr Change :</span>
      <span [style.color]=coinData.color>{{((coinData.p/coinData.c)*100).toFixed(2)}} %</span>
    </div>

    <div class="row">
      <span class="col">Volume :</span>
      <span class="col">{{(coinData.q*1).toFixed(2)}}</span>
    </div>

  </div>

  <div class="col-9">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Orders  <a href="#" class="btn btn-primary btn-sm">Buy</a></h6>
            <table class="table">
              <thead class="thead thead-light">
                <tr>
                  <th scope="col" id="last" class="tableTh ">Amount</th>
                  <th scope="col" id="volume" class="tableTh">Quantity</th> 
                  <th scope="col" id="volume" class="tableTh">Price</th> 
                  <th scope="col" id="volume" class="tableTh">Margin</th> 
                  <th scope="col" id="volume" class="tableTh">%</th> 
                  <th scope="col" id="volume" class="tableTh">profit</th> 
                  <th scope="col" id="volume" class="tableTh">Stop lose</th> 
                  <th scope="col" id="volume" class="tableTh"></th> 
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of openOrderList">
                 <td>{{order.orderOpenPrice * order.orderQuantity}}</td>
                 <td>{{order.orderQuantity}}</td>
                 <td>{{order.orderOpenPrice}}</td>
                 <td>{{order.orderMargin}}</td>
                 
                 <td *ngIf="(((coinData.c-order.orderOpenPrice) / (order.orderOpenPrice))*100) >=0" style="color: limegreen;">{{ (((coinData.c-order.orderOpenPrice) / (order.orderOpenPrice))*100).toFixed(2) }}</td>
                 <td *ngIf="(((coinData.c-order.orderOpenPrice) / (order.orderOpenPrice))*100) <0" style="color: red;">{{ (((coinData.c-order.orderOpenPrice) / (order.orderOpenPrice))*100).toFixed(2) }}</td>
                
                 <td *ngIf="(coinData.c-order.orderOpenPrice)*order.orderQuantity*order.orderMargin>=0" style="color: limegreen;">{{((coinData.c-order.orderOpenPrice)*order.orderQuantity*order.orderMargin).toFixed(2)}}</td>
                 <td *ngIf="(coinData.c-order.orderOpenPrice)*order.orderQuantity*order.orderMargin<0" style="color: red;">{{((coinData.c-order.orderOpenPrice)*order.orderQuantity*order.orderMargin).toFixed(2)}}</td>
                 
                 <td> <button class="btn btn-primary btn-sm" (click)="changeStopLoseOffset('reduce')">
                   <</button>&nbsp;<button class="btn btn-primary btn-sm" (click)="changeStopLoseOffset('increase')">></button></td>
                 <td>  <a href="#" class="btn btn-primary btn-sm">Sell</a></td>
                 </tr>
                </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="col-sm-5">
  <highcharts-chart [Highcharts]="highcharts2" [options]="chartOptions2"
    style="width: 100%; height: 550px; display: block;">
  </highcharts-chart>
</div>


<!-- {
    "e": "24hrTicker",  // Event type
    "E": 123456789,     // Event time
    "s": "BNBBTC",      // Symbol
    "p": "0.0015",      // Price change
    "P": "250.00",      // Price change percent
    "w": "0.0018",      // Weighted average price
    "x": "0.0009",      // First trade(F)-1 price (first trade before the 24hr rolling window)
    "c": "0.0025",      // Last price
    "Q": "10",          // Last quantity
    "b": "0.0024",      // Best bid price
    "B": "10",          // Best bid quantity
    "a": "0.0026",      // Best ask price
    "A": "100",         // Best ask quantity
    "o": "0.0010",      // Open price
    "h": "0.0025",      // High price
    "l": "0.0010",      // Low price
    "v": "10000",       // Total traded base asset volume
    "q": "18",          // Total traded quote asset volume
    "O": 0,             // Statistics open time
    "C": 86400000,      // Statistics close time
    "F": 0,             // First trade ID
    "L": 18150,         // Last trade Id
    "n": 18151          // Total number of trades
  } -->