<h5>Trading board</h5>
<div class=row>
  <div class="col-3">

    <img *ngIf="coinData.s" src='{{ "assets/images/CoinIcon/" + coinData.s.substring(0,coinData.s.length-4) + ".png" }}'
  width="40px" height="40px" />

    <div class="row">
      <span class="col">Symbol :</span>
      <span class="col">{{this.coinData.s}}</span>
    </div>

    <div class="row">
      <span class="col">Price</span>
      <span class="col">{{coinData.c}}</span>
    </div>

    <div class="row">
      <span class="col">24hr Change :</span>
      <span [style.color]=coinData.color>{{((coinData.p/coinData.c)*100).toFixed(2)}} %</span>
    </div>

    <div class="row">
      <span class="col">Volume :</span>
      <span class="col">{{(coinData.q*1).toFixed(2)}}</span>
    </div>

    <div class="row">
      <select class="form-control"  (change)="changeHighstockResolution(interval)">
        <option *ngFor="let interval of intervalList" [value]="interval.value">{{ interval.value }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-9">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Orders <button class="btn btn-primary btn-sm" (click)="openPopup(popupNewEditOrder, 'newOrder')">Buy</button></h6>
            <table class="table table-sm">
              <thead class="thead-light">
                <tr>
                  <th scope="col" id="last" class="tableTh ">Amount</th>
                  <th scope="col" id="volume" class="tableTh">Quantity</th> 
                  <th scope="col" id="volume" class="tableTh">Price</th> 
                  <th scope="col" id="volume" class="tableTh">Margin</th> 
                  <th scope="col" id="volume" class="tableTh">%</th> 
                  <th scope="col" id="volume" class="tableTh">profit</th> 
                  <th scope="col" id="volume" class="tableTh">Stop lose</th> 
                  <th scope="col" id="volume" class="tableTh"></th> 
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of openOrderList">
                 <td>{{order.openPrice * order.quantity * order.margin}}</td>
                 <td>{{order.quantity}}</td>
                 <td>{{order.openPrice}}</td>
                 <td>{{order.margin}}</td>
                 <td *ngIf="(((coinData.c-order.openPrice) / (order.openPrice))*100) >=0" style="color: limegreen;">{{ (((coinData.c-order.openPrice) / (order.openPrice))*100).toFixed(2) }}</td>
                 <td *ngIf="(((coinData.c-order.openPrice) / (order.openPrice))*100) <0" style="color: red;">{{ (((coinData.c-order.openPrice) / (order.openPrice))*100).toFixed(2) }}</td>  
                 <td *ngIf="(coinData.c-order.openPrice)*order.quantity*order.margin>=0" style="color: limegreen;">{{((coinData.c-order.openPrice)*order.quantity*order.margin).toFixed(2)}}</td>
                 <td *ngIf="(coinData.c-order.openPrice)*order.quantity*order.margin<0" style="color: red;">{{((coinData.c-order.openPrice)*order.quantity*order.margin).toFixed(2)}}</td>
                 <td> <button class="btn btn-primary btn-sm" (click)="changeStopLoseOffset('reduce')">-</button>&nbsp;
                      <button class="btn btn-primary btn-sm" (click)="changeStopLoseOffset('increase')">+</button></td>
                 <td><button class="btn btn-primary btn-sm" (click)="closeOrder(order.id,coinData.c);">Sell</button></td>
                 </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
      <highcharts-chart constructorType='stockChart' [Highcharts]="highcharts2" [options]="chartOptions2"
        style="width: 100%; height: 550px; display: block;">
      </highcharts-chart>
  </div>
  <div class="col-8">
    <highcharts-chart constructorType='stockChart' [Highcharts]="highcharts" [options]="chartOptions"
        style="width: 100%; height: 550px; display: block;">
  </highcharts-chart>
  </div>
</div>

  <!-- popup Order -->
  <ng-template #popupNewEditOrder let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{popupTitle}} <span [style.color]=coinData.color>{{((coinData.p/coinData.c)*100).toFixed(2)}} %</span></h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group row no-gutters">
          <label for="openPrice" class="col-sm-3 col-form-label">Price</label>
          <div class="col-sm-9">
            <input id="openPrice" type="number" class="form-control form-control-sm" [value]="orderModel.openPrice" name="openPrice"  [(ngModel)]="orderModel.openPrice" (change)="processFormInputChange('price')">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label for="amount" class="col-sm-3 col-form-label">Amount</label>
          <div class="col-sm-9">
            <input id="amount" class="form-control form-control-sm" name="amount" required [(ngModel)]="orderModel.amount" (change)="processFormInputChange('amount')">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
          <div class="col-sm-9">
            <input id="quantity" class="form-control form-control-sm" name="quantity" required [(ngModel)]="orderModel.quantity" (change)="processFormInputChange('quantity')">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label for="margin" class="col-sm-3 col-form-label">Levrage</label>
          <div class="col-sm-9">
            <input id="margin" class="form-control form-control-sm" name="margin" required [(ngModel)]="orderModel.margin">
          </div>
        </div>
        <div class="form-group row no-gutters">
          <label for="stop" class="col-sm-3 col-form-label">Stop(%)</label>
          <div class="col-sm-4">
            <input id="stop" class="form-control form-control-sm" name="stop" required [(ngModel)]="orderModel.stopLose">
          </div>
          <div class="col-sm-5">
            <input id="quantity" class="form-control form-control-sm" name="stop" [value]="orderModel.amount*orderModel.stopLose*orderModel.margin/100" disabled >
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss()" ngbAutofocus>Cancel</button>
      <button *ngIf="orderModel.id==0" type="submit" class="btn btn-primary btn-sm" (click)="modal.close('openOrder')">Place order</button>
      <button *ngIf="orderModel.id!=0" type="button" class="btn btn-primary btn-sm" (click)="modal.close('updateCourse')">Update</button>
    </div>
  </ng-template>

  <!-- popup confirm delete -->
  <ng-template #popupConfirmDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{popupTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss()" ngbAutofocus>Cancel</button>
        <button type="button" class="btn btn-danger btn-sm"
            (click)="modal.close('deleteContent')">Delete</button>
    </div>
  </ng-template>


<!-- {
    "e": "24hrTicker",  // Event type
    "E": 123456789,     // Event time
    "s": "BNBBTC",      // Symbol
    "p": "0.0015",      // Price change
    "P": "250.00",      // Price change percent
    "w": "0.0018",      // Weighted average price
    "x": "0.0009",      // First trade(F)-1 price (first trade before the 24hr rolling window)
    "c": "0.0025",      // Last price
    "Q": "10",          // Last quantity
    "b": "0.0024",      // Best bid price
    "B": "10",          // Best bid quantity
    "a": "0.0026",      // Best ask price
    "A": "100",         // Best ask quantity
    "o": "0.0010",      // Open price
    "h": "0.0025",      // High price
    "l": "0.0010",      // Low price
    "v": "10000",       // Total traded base asset volume
    "q": "18",          // Total traded quote asset volume
    "O": 0,             // Statistics open time
    "C": 86400000,      // Statistics close time
    "F": 0,             // First trade ID
    "L": 18150,         // Last trade Id
    "n": 18151          // Total number of trades
  } -->