<h5>wallet</h5>
<table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col" id="last" class="tableTh ">Amount</th>
        <th scope="col" id="volume" class="tableTh">Quantity</th> 
        <th scope="col" id="volume" class="tableTh">Price</th> 
        <th scope="col" id="volume" class="tableTh">Margin</th> 
        <th scope="col" id="volume" class="tableTh">%</th> 
        <th scope="col" id="volume" class="tableTh">profit</th> 
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderList">
       <td>{{order.openPrice * order.quantity * order.margin}}</td>
       <td>{{order.quantity}}</td>
       <td>{{order.openPrice}}</td>
       <td>{{order.margin}}</td>
       <td *ngIf="(order.closePrice - order.openPrice) >=0" style="color: limegreen;">{{ (((order.closePrice - order.openPrice) / (order.openPrice))*100).toFixed(2) }}</td>
       <td *ngIf="(order.closePrice - order.openPrice) < 0" style="color: red;">{{ (((order.closePrice - order.openPrice) / (order.openPrice))*100).toFixed(2) }}</td>
       <td *ngIf="(order.closePrice - order.openPrice) >=0" style="color: limegreen;">{{((order.closePrice - order.openPrice)*order.quantity*order.margin).toFixed(2)}}</td>
       <td *ngIf="(order.closePrice - order.openPrice) < 0" style="color: red;">{{((order.closePrice - order.openPrice)*order.quantity*order.margin).toFixed(2)}}</td>
       </tr>
      </tbody>
  </table>