
/* styles.css (or your style file) */
.custom-width {
  max-width: 130px;
  max-height: 31px;
}



  /* .my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow:scroll;
    }
    .table-wrapper-scroll-y {
    display: block;
    } */
